<html>
    <head>
        <title>My project</title>
    </head>
    <body>
    <h1>Исследование возможностей языка Python в Web-разработке</h1>
    <h2>Цель:</h2>
    <p> Исследовать и оценить возможности языка программирования Python в сфере Web-разработки.</p>
    <h2>Задачи:</h2>
    <p> 1.Изучить инструменты и возможности языка программирования Python.<br />
        2.Исследовать Django - фреймворк для web-приложений на Python.<br />
        3.Самостоятельно создать web-сайт c подробным описанием процесса.<br />
        4.Оценить возможности языка для быстрой разработки небольших приложений, решающих      поставленные задачи.</p>
    </body>
</html>
